<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-thumbnail slot="start">
      <img src="{{paramData.image}}">
    </ion-thumbnail> -->
    <ion-title>
      {{chat?.recipient?.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #IonContent [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-list>
    <div *ngFor="let msg of messages; let i = index; ">
      <ion-row *ngIf="msg.user?.id == user?.id">
        <ion-col class="ion-no-padding left"
          [ngClass]="{'clubbed':((messages[i+1] && messages[i+1].user?.id != chat.user?.id)|| !messages[i+1])}">
          <div class="imageAvatarRight">
            <!-- <div class="imageAvatarBottom">
              <ion-avatar class="avatar"
                [ngClass]="(messages[i+1] && messages[i+1].user?.id == chat.user?.id)?'hidden':''">
                <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div>
                <ion-img class="user-img" [src]="paramData.image"></ion-img>
              </ion-avatar>
            </div> -->
            <ion-label color="light">
              <div class="chatDiv" [ngClass]="{'sharper':((messages[i+1] && messages[i+1].user?.id == chat.user?.id) && 
              (messages[i-1] && messages[i-1].user?.id == chat.user?.id)),
              'sharper-top':(messages[i-1] && messages[i-1].user?.id == chat.user?.id),
              'sharper-bottom':(messages[i+1] && messages[i+1].user?.id == chat.user?.id)}">
                <p class="ion-text-wrap" class="ion-padding">
                  {{msg.text}}
                </p>
                <div class="corner-parent-right">
                  <div class="corner-child-right">
                  </div>
                </div>
              </div>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="msg.user?.id != user?.id">
        <ion-col class="ion-no-padding right"
          [ngClass]="{'clubbed':((messages[i+1] && messages[i+1].user?.id != chat.user?.id)|| !messages[i+1])}">
          <div class="imageAvatarLeft">
            <ion-label color="light">
              <div class="chatDiv" [ngClass]="{'sharper':((messages[i+1] && messages[i+1].user?.id == chat.user?.id) && 
              (messages[i-1] && messages[i-1].user?.id == chat.user?.id)),
              'sharper-top':(messages[i-1] && messages[i-1].user?.id == chat.user?.id),
              'sharper-bottom':(messages[i+1] && messages[i+1].user?.id == chat.user?.id)}">
                <p class="ion-text-wrap" class="ion-padding">
                  {{msg.text}}
                </p>
                <div class="corner-parent-left">
                  <div class="corner-child-left">
                  </div>
                </div>
              </div>
            </ion-label>
            <!-- <div class="imageAvatarBottom">
              <ion-avatar class="avatar"
                [ngClass]="(messages[i+1] && messages[i+1].user?.id == chat.user?.id)?'hidden':''">
                <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div>
                <ion-img class="user-img" src="../../../assets/chat/pagas.jpg"></ion-img>
              </ion-avatar>
            </div> -->
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="((messages[i+1] && messages[i+1].user?.id != chat.user?.id)|| !messages[i+1])">
        <ion-col>
          <ion-text>{{msg.date | hoursMinutes}}</ion-text>
        </ion-col>
      </ion-row> -->
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="sendMsg()">
      <ion-icon name="send" expand="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row *ngIf="loader">
    <ion-col class="ion-no-padding" class="loading-col">
      <div class="imageAvatarRight">
        <div class="imageAvatarBottomLoader">
          <ion-avatar class="avatar">
            <div class="imageAvatarBottomIcon">
            </div>
            <!-- <ion-img src="{{paramData.image}}"></ion-img> -->
          </ion-avatar>
        </div>
        <ion-label>
          <div class="chatDivLoader">
            <ion-spinner name="dots" color="light"></ion-spinner>
            <div class="corner-parent-right">
              <div class="corner-child-right">
              </div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer translucent>
  <ion-item>
    <!-- <ion-icon slot="start" name="camera" expand="icon-only" class="footerIcon"></ion-icon> -->
    <ion-input class="input-box" type="text" placeholder="Write a message..." [(ngModel)]="userInput"
      (keypress)="userTyping($event)"></ion-input>
  </ion-item>
</ion-footer>