<ion-header>
  <ion-toolbar>
    <ion-button slot="end" fill="clear">
      <ion-icon name="search" expand="icon-only"> </ion-icon>
    </ion-button>
    <ion-title>TChat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/chat/5f5c4badb7c7c944b8c80dd5">Teste</ion-button>
  <ion-list class="ion-no-padding">
    <ion-item *ngFor="let chat of chats" (click)="goforChat(chat)">
      <ion-avatar slot="start">
        <!-- <ion-img class="user-img" [src]="chat.image"></ion-img> -->
        <!-- <div class="online" *ngIf="chat.status == 'online'">
        </div>
        <div class="ofline" *ngIf="chat.status == 'ofline'">
        </div> -->
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2>{{chat?.recipient?.name}}
            </h2>
            <!-- <ion-avatar class="chatCount" *ngIf="chat.count">{{chat.count}}</ion-avatar> -->
          </div>
          <div class="timeEnd">
            <ion-text slot="end">{{chat?.lastMessage?.date | lastMessageDate}}</ion-text>
          </div>
        </div>
        <p class="widthHalf">{{chat?.lastMessage?.text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>